<div class="container h-100">
    <div class="row h-100">
        <div class="col-sm-3 col-md-5 col-lg-5  mx-auto d-table h-100">
            <div class="d-table-cell align-middle">

                <div class="text-center mt-4">
                    <h1 class="h2">Welcome</h1>
                    <!-- <p class="lead">
                        Start creating the best possible user experience for you customers.
                    </p> -->
                </div>

                <div class="card">
                    <div class="card-body">
                        <div class="m-sm-4">
                             <h2 style="text-align: center;">Create Account</h2>
                            <form  #addForm="ngForm" (ngSubmit)="addNewMerchant(addForm)">
                                <div class="form-group">
                                    <label>Name</label>
                                    <input style="font-size: 1rem;" class="form-control form-control-lg" ngModel type="text" name="fullName" placeholder="Enter your name">
                                </div>
                                
                                <div class="form-group">
                                    <label>Email</label>
                                    <input style="font-size: 1rem;" class="form-control form-control-lg" ngModel type="email" name="email" placeholder="Enter your email">
                                </div>
                                <div class="form-group">
                                    <label>Password</label>
                                    <input style="font-size: 1rem;" class="form-control form-control-lg" ngModel type="password" name="password" placeholder="Enter password">
                                </div>
                                <div class="form-group">
                                    <label>ImageUrl</label>
                                    <input style="font-size: 1rem;" class="form-control form-control-lg" ngModel type="text" name="imageUrl" placeholder="Enter your image Url">
                                </div>
                                <div class="form-group">
                                    <label>Phone</label>
                                    <input style="font-size: 1rem;" class="form-control form-control-lg" type="int"ngModel  name="mobileNo" placeholder="Enter your mobile number">
                                </div>
                                <div class="form-group">
                                    <label>Date Of Birth</label>
                                    <input style="font-size: 1rem;" class="form-control form-control-lg" type="date" ngModel name="dob" placeholder="Enter your image Url">
                                </div>
                                <div class="form-group">
                                    <label>Gender</label><br>
                                     <input type="radio" ngModel name="gender" value="male"> Male
                                      <input type="radio" ngModel name="gender" value="female"> Female
                                       <input type="radio" ngModel  name="gender" value="other"> Other
                                </div>



                                <div class="text-center mt-3">
                                    <!-- <a href="index.html" class="btn btn-lg btn-primary">Sign up</a> -->
                                    <button type="submit" class="btn btn-lg btn-primary">Sign up</button> 
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

